<div class="parent d-flex justify-content-center align-items-center">
    <div class="left text-center d-flex flex-column align-items-center justify-content-evenly">
        <h1>{{monMenu.nom | titlecase}}</h1>
        <div class="description">
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
        </div>
        <button (click)="addToCart(monMenu)" class="addToCart" *ngIf="maQuantiteTotale === qteTotal">Ajouter au Panier</button>
    </div>
    <div class="right d-flex flex-column align-items-center justify-content-evenly">
        <img [src]="convertion(monMenu.image)" alt="produit-image">
        <h2 class="my-4">{{monMenu.prix}} FCFA</h2>
    </div>
</div>
<!----------------------------------------------------- COMPOSANT COMPLEMENTS BOISSONS --------------------------------------------------------------------->
<div class="parentBoiss d-flex flex-column ">
    <div class="boutons">
        <button class="title">Boissons</button>
    </div>
    <div *ngFor="let taille of monMenu.Boissons">
        <h3 class="text-center my-2">{{taille.tailleBoisson.valeurs}} : {{taille.quantite}} boissons Stock</h3>
        <section class="d-flex justify-content-evenly">
            <app-boissons (myOutputValue)="message($event)" class="d-flex flex-column align-items-center" *ngFor="let boissons of taille.tailleBoisson.boissons" [maBoisson]="boissons"></app-boissons>
        </section>
    </div>
</div>
<!---------------------------------------------------------- COMPOSANT COMPLEMENTS BURGERS ------------------------------------------------------------------>
<!-- <div class="parentBoiss d-flex flex-column border border-top-light">
    <div class="boutons">
        <button class="title">Burgers</button>
    </div>
    <div *ngFor="let taille of monMenu.Burgers">
        <h3 class="text-center my-2">Burgers : {{taille.quantite}} Burgers Stock</h3>
        <section class="text-center d-flex flex-column align-items-center">
            <app-burgers (myOutputValue)="message($event)" class="d-flex flex-column align-items-center" *ngFor="let burgers of monMenu.Burgers" [maBurger]="burgers"></app-burgers>
        </section>
    </div>
</div>
 <-!-------------------------------------------------------- COMPOSANT COMPLEMENTS FRITES --------------------------------------------------------------->
 <!-- <div class="parentBoiss d-flex flex-column border border-top-light">
    <div class="boutons">
        <button class="title">Frites</button>
    </div>
    <div *ngFor="let taille of monMenu.Frites">
        <h3 class="text-center my-2">Frites : {{taille.quantite}} Frites Stock</h3>
        <section class="text-center d-flex flex-column align-items-center">
            <app-frites (myOutputValue)="message($event)" class="d-flex flex-column align-items-center" *ngFor="let frites of monMenu.Frites" [maFrite]="frites"></app-frites>
        </section>
    </div>
</div> -->
<!---------------------------------------- COMPOSANT MENUS COMPLÉMENTAIRES --------------------------------------->
<div class="d-flex flex-column ">
    <div class="boutons text-center m-5">
        <h3>Vous pouvez aussi Commander</h3>
    </div>
    <div class="d-flex justify-content-evenly">
        <div *ngFor="let menu of autreMenus.slice(0, 5); let i as index" class="d-flex flex-column align-items-center text-center menuSug" [routerLink]="['/menu', menu.id]">
            <img class="sugMenu" [src]="convertion(menu.image)" alt="menu">
            <p><strong>{{menu.nom}}</strong></p>
            <p><strong>{{menu.prix}} </strong>FCFA</p>
        </div>
    </div>
</div>