<div class="parent d-flex justify-content-center align-items-center">
    <div class="left text-center d-flex flex-column align-items-center justify-content-evenly">
        <h1>{{monMenu.nom | titlecase}}</h1>
        <div class="description">
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
        </div>
        <button [hidden]="cachee" (click)="addToCart(monMenu);" class="addToCart">Ajouter au Panier</button>
    </div>
    <div class="right d-flex flex-column align-items-center justify-content-evenly">
        <img src="{{'data:image/png;base64,' + monMenu.image}}" alt="produit-image">
        <h2 class="my-4">{{monMenu.prix}} FCFA</h2>
    </div>
</div>
<div class="parentBoiss d-flex flex-column ">
    <div class="boutons">
        <button class="title">Complétez votre Menu</button>
        <!-- <button class="title">Frite (s)</button>
        <button class="title">Burger (s)</button> -->
    </div>
    <div class="text-center d-flex flex-column align-items-center boissons">
        <h3>Boissons</h3>
        <h5>Vous devez choisir 2 boissons</h5>
        <select class="form-select text-center w-25" multiple aria-label="multiple select example">
            <option (click)="listeBoisson(taille.tailleBoisson.boissons)" *ngFor="let taille of monMenu.Boissons" value="{{ taille.tailleBoisson.valeurs }}">{{ taille.tailleBoisson.valeurs }}</option>
        </select>
    </div>
    <div class="liste_boisson" class="d-flex flex-column align-items-center">
        <span class="my-5">
            <strong>{{this.monMenu.Boissons[0].quantite}}</strong> boissons de cette taille en Stock
        </span>
        <div class="d-flex justify-content-evenly w-100">
            <div *ngFor="let boissons of lesBoissons[0]" class="text-center">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="{{'data:image/png;base64,' + boissons.image}}" alt="Title">
                        <div class="card-body">
                            <h4 class="card-title">{{boissons.nom | titlecase}}</h4>
                            <p class="card-text">{{boissons.prix}} FCFA</p>
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" class="form-check-input" (click)="laBansson(boissons)" value="{{boissons.id + boissons.nom}}" name="myName" #myName>
                    </div>
            </div>
        </div>
    </div>
</div>