<div class="parent d-flex justify-content-center align-items-center">
    <div class="left text-center d-flex flex-column align-items-center justify-content-evenly">
        <h1>{{monMenu.nom | titlecase}}</h1>
        <div class="description">
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
        </div>
        <button>Ajouter au Panier</button>
    </div>
    <div class="right d-flex flex-column align-items-center justify-content-evenly">
        <img src="{{'data:image/png;base64,' + monMenu.image}}" alt="produit-image">
        <h2 class="my-4">{{monMenu.prix}} FCFA</h2>
    </div>
</div>