<nav class="nav justify-content-between align-items-center">
    <div class="left d-flex justify-content-evenly">
        <button><i class="fas fa-burger"></i></button>
        <a class="nav-link text-white" routerLink="catalogue" routerLinkActive="active">Nos Burgers</a>
    </div>
    <div class="middle">
        <a class="nav-link logo text-white" (click)="onHome()">Heaven Burger</a>
    </div>
    <div class="right d-flex justify-content-evenly">
        <button><i class="fas fa-shopping-cart"></i></button>
        <button><i class="fas fa-user"></i></button>
    </div>
</nav>