<div class="parent d-flex justify-content-center align-items-center">
    <div class="left text-center d-flex flex-column align-items-center justify-content-evenly">
        <h1>{{monBurger.nom | titlecase}}</h1>
        <div class="description">
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
            <p>Ici se trouve la description de votre produit</p>
        </div>
        <button (click)="addToCart(monBurger)">Ajouter au Panier</button>
    </div>
    <div class="right d-flex flex-column align-items-center justify-content-evenly">
        <img [src]="convertion(monBurger.image)" alt="produit-image">
        <h2 class="my-4">{{monBurger.prix}} FCFA</h2>
    </div>
</div>